@import './normalize.scss';
@import './variables.scss';

* {
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, $raleway,   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: $regular;
  text-align: center;
  background: $veryLightGrey;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: black;
  &:hover, &:focus {
    color: $primaryColor;
  }
}
:focus {
  outline: 0;
  box-shadow: $darkShadow;
  color: $secondaryColor;
}