/* TYPOGRAPHY */

$raleway: 'Raleway', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;

/* THEME COLORS */

$primaryColor: #08392b;
$secondaryColor: #138564;
$lightGreen: #1BC495;
$lightGrey: #989898;
$veryLightGrey: #f2f2f2;
$darkGrey: #313131;

/* MISCELLANEOUS */

$shadow: 0 0 3px $lightGrey;
$darkShadow: 0 0 5px grey;
$border: solid 0.5px black;
$transition: all 0.3s ease;
$gradient: linear-gradient(to bottom right, $primaryColor, $secondaryColor);
$lightGradient: linear-gradient(to bottom right, $secondaryColor, $lightGreen);
$radius: 5px;