@import '../../sass/variables.scss';

.login-container {
  position: absolute;
  width: 90%;
  max-width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  box-shadow: $shadow;
  background: white;
  border-radius: 5px;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}