@import '../../sass/variables.scss';

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  box-shadow: $shadow;
}
.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-avatar {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $shadow;
  }
}
.header-button {
  background: transparent;
  border: none;
  color: $primaryColor;
}