@import '../../sass/variables.scss';

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem;
  border-bottom: solid 0.5px $lightGrey;
}
.header-left {
  h1 {
    text-align: left;
    font-size: 1rem;
  }
}
.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-avatar {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: $shadow;
  }
}
.header-button {
  background: transparent;
  border: none;
  color: $primaryColor;
  &:hover, &:focus {
    color: $secondaryColor;
  }
}
.modal-container {
  position: relative;
  .modal-close {
    position: absolute;
    top: -0.8rem;
    right: -0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: $transition;
    &:hover, &:focus {
      color: $primaryColor;
    }
  }
  h2 {
    color: $primaryColor;
    padding-bottom: 2rem;
    border-bottom: $border;
  }
}
@media screen and (min-width: 768px) {
  .header-left {
    h1 {
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 1024px) {
  .header-name {
    margin-right: 1rem;
  }
  .header-avatar {
    width: 50px;
    height: 50px;
  }
  .header-right {
    width: 60%;
    flex-direction: row-reverse;
    justify-content: flex-start;

  }
  .header-button {
    display: none;
  }
}