.nav {
  display: flex;
  flex-direction: column;
  a {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.6rem 1rem 0 0;
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
    }
  }
  .nav {
    flex-direction: row;
    margin: 0 -0.5rem 0 0;
  }
}